

<!-- <div class="container" style="display: flex; flex-direction: column; align-items:center; width: 100%;" >
  <h1 class="d-flex justify-content-center">Angular with Web API Demo</h1>
  <h2 class="d-flex justify-content-center" >Todo App Portal</h2>

  <nav class="navbar navbar-expand-sm bg-light navbark-dark">
    <ul class="navbar-nav">

      <button mat-raised-button color="primary" (click)="CatScreen=true; TodoScreen=false;">Categories</button>
      <button mat-raised-button color="primary" (click)="CatScreen=false; TodoScreen=true;" style=" margin-left:20px;">Todo Items</button>

      
      
    </ul>
  </nav>
  <app-category *ngIf="CatScreen"></app-category>
  <app-todoitem *ngIf="TodoScreen"></app-todoitem>
</div>

<app-auth style="text-align: center;"></app-auth>
<router-outlet></router-outlet> -->


<div class="collapse navbar-collapse" id="navItems" style="display: flex; flex-direction: column;
 align-items: center; background-color: rgb(236, 236, 222); height: 60px; margin-bottom: 50px;">
  <div class="navbar-nav" style="padding: 10px;">
    <a class="nav-item nav-link" *ngIf="securityObject!.canAccessTodos && securityObject!.isAuthenticated" color="primary" routerLink="/todos" style="margin-right: 10px; width: 100px; ">Todos</a>
    <a class="nav-item nav-link" *ngIf="securityObject!.canAccessCategories && securityObject!.isAuthenticated" color="primary"  routerLink="/categories" style="margin-right: 10px; width: 100px;">Categories</a>
    <a class="nav-item nav-link" *ngIf="securityObject!.canAccessUsers && securityObject!.isAuthenticated" color="primary"  routerLink="/users" style="margin-right: 10px; width: 100px;">Users</a>
    <a class="nav-item nav-link" *ngIf="!securityObject!.isAuthenticated" color="primary"  routerLink="/login" style="margin-right: 10px; width: 100px;">Login</a>
    <a class="nav-item nav-link" *ngIf="securityObject!.isAuthenticated" color="primary"  routerLink="/" style="margin-right: 10px; width: 150px;" (click)="logout()">Logout {{securityObject!.username}}</a>
  </div>
</div>



<div class="container body-content">
<router-outlet></router-outlet>
</div>


