<div class="d-flex justify-content-between m-3">
  <h3>Add new TodoItem</h3>

  <button mat-button mat-mini-fab (click)="onClose()">
    <mat-icon aria-label="close">close</mat-icon>
  </button>

</div>

<div style="overflow: auto; height: 300px; width: 300px; scroll-behavior: unset;">

  <form class="mat-dialog-content" #formControl="ngForm" (ngSubmit)="onSubmit(formControl.value)"
    style="overflow: auto; height: 250px; width: 250px; scroll-behavior: unset;">

    <mat-form-field>
      <mat-label>Select Category</mat-label>

      <mat-select name="select" (selectionChange)="setSelected($event)" [(ngModel)]="selectedCategory">
        <mat-option *ngFor="let x of categoryItems " [value]="x">
          {{x.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="form" style="scroll-behavior: unset;">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder=" Title" required minlength="2" maxlength="20"
          type="text" ngModel name="title">

      </mat-form-field>
    </div>
    <div class="form" style="scroll-behavior: unset;">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Descriptin" required minlength="2" maxlength="20"
          type="text" ngModel name="description">

      </mat-form-field>
    </div>



    <div mat-dialog-actions>
      <button class="m-3" mat-raised-button color="primary" type="submit" [disabled]="!formControl.valid"
        [mat-dialog-close]="1">Save</button>

    </div>
  </form>
</div>