<div style="overflow:auto; text-align: center; display: flex; flex-direction:column; justify-content:left; 
  width: 100%;">
  <div style="overflow:auto; text-align: center; display: flex; flex-direction:column; justify-content:right; 
      width: 80%; align-self: center;">

    <mat-form-field appearance="standard" style="overflow:auto; display: flex; flex-direction:column; width: 300px; margin-left: 20px; ">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input>
    </mat-form-field>

    <table mat-table [dataSource]="listData" matSort class="mat-elevation-z8 demo-table"
      (matSortChange)="announceSortChange($event)">

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>

      <ng-container matColumnDef="Options">
        <mat-header-cell *matHeaderCellDef style="font-size: 15px; justify-content:left;">Options</mat-header-cell>
        <mat-cell *matCellDef="let row" style="justify-content:left;">
          <button mat-icon-button style="background-color: white; border: none; color: blue;" (click)="onEdit(row)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
          <button mat-icon-button style="background-color: white;  border: none; color: red;"
            (click)="onDelete(row.id)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Id">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          style="font-size: 15px; justify-content:center; cursor: pointer; ">Id</mat-header-cell>
        <mat-header-cell *matCellDef="let element"
          style="align-items: center; justify-content:center; cursor: pointer;">{{element.id}}</mat-header-cell>
      </ng-container>

      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          style="font-size: 15px;justify-content:center;  cursor: pointer; ">Name</mat-header-cell>
        <mat-header-cell *matCellDef="let element"
          style="align-items: center; justify-content:center; cursor: pointer;">{{element.name}}</mat-header-cell>
      </ng-container>

    </table>


    <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
    </mat-paginator>



  </div>


  <button mat-fab aria-label="Example icon button with a heart icon" (click)="onAdd()"
    style="background-color:rgb(51, 151, 233);  border: none; margin-left:150px; margin-top:10px; margin-bottom: 30px; align-self: left;">
    <mat-icon aria-label="Add">add</mat-icon>
  </button>
  <!-- </div> -->

</div>